<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="header">
    <div id="headertext">
      <h1><a href="/">CB Blog</a></h1>
    </div>
    <div id="headerlogo">
      <img src="/images/bwlogo.gif">
    </div>
    <div id="nav">
      <% if session[:user] %>
        <a href="/users/<%=session[:user]%>/posts">My Posts</a> | <a href="/users/logout">Logout</a>
      <% else %>
        <a href="/users/signup">Sign Up</a> | <a href="/users/login">Login</a>
      <% end %>
    </div>

  </div>
  <%= yield %>
</body>
</html>
