<div class="container">

  <div class="list">
    <h2>Blog Posts</h2>
    <h3>Tagged "<%= @tag.name %>"</h3>
    <ul>
      <% @posts.each do |post| %>
      <li><a href="/posts/<%= post.id %>"><%= post.name %></a>  <span><%= User.find(post.user_id).name %></span></li>
      <% end %>
    </ul>
  </div>


</div>
