<div class="container">

  <div class="list">
    <h2><%= @user.name %></h2>
    <ul>
      <% @posts.each do |post| %>
      <li><a href="/posts/<%= post.id %>"><%= post.name %></a>  <% unless post.image.nil? %> <img class="icon" src="/images/photo.png"><% end %></li>
      <% end %>
    </ul>
  </div>

  <% if session[:user] %>
  <form action="/posts/new" method="get">
    <input type="submit" value="New Post" class="button">
  </form>
  <% end %>

</div>
